/* Increase width */
#main {
    max-width: 65vw !important;
}
/* Centered images */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* Bold ordered lists */
ol {
    counter-reset: item;
}
section ol li { display: block }

section ol li:before {
    content: counter(item) ". ";
    counter-increment: item;
    font-weight: bold;
}